@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*
    color schemes variables
  */
  --primary-color: #293041;
  --primary-gradient: linear-gradient(
    180deg,
    #bec1c9 0%,
    #969ba9 32.52%,
    #5b6378 65.16%,
    #293041 100%
  );
  --backdrop-gradient: linear-gradient(
    180deg,
    rgba(190, 193, 201, 0.45) 0%,
    rgba(150, 155, 169, 0.45) 32.52%,
    rgba(91, 99, 120, 0.45) 65.16%,
    rgba(41, 48, 65, 0.45) 100%
  );
}
body {
  width: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
