@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  --primary-color: #293041;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
}
